***************************************eBookStore.com**************************************************************
eBookStore ECommerce App - React,Redux,Node,Express,Mongo DB deploy to Heroku
-Requirements
Javascript Basics
React Basics
Redux and Redux Thunk
Node and Express

-Features in the Ecommerce Application.

Creating React App

Working with the static data

Working with API End Points

Mongo DB atlas and Compass

Redux States and Reducers

Redux Thunk as MiddelWare

Working with local storage and Redux store

Add to cart Feature

Update Quantity in cart

Delete Products from cart\

User Authentication

Stripe Payment Gateway

Placing orders with stripe

Placing Orders

Store orders in database

Retrieve Orders to user profile

User Dashboard

Admin Dashboard

Manage Users , Products , Orders in Admin Panel

Protected routes for admin panel

Deployment to Heroku.



-MERN is one of several variations of the MEAN stack (MongoDB Express Angular Node), where the traditional Angular.js 
frontend framework is replaced with React.js. Other variants include MEVN (MongoDB, Express, Vue, Node), and really 
any frontend JavaScript framework can work.

-Express and Node make up the middle (application) tier. Express.js is a server-side web framework, and Node.js the 
popular and powerful JavaScript server platform. Regardless of which variant you choose, ME(RVA)N is the ideal approach 
to working with JavaScript and JSON, all the way through.

-What we intend to accomplish
How To Create a New React App
Working with Static JSON Data
Creating Node and Express Server
Mongo DB Atlas and Mongo DB Compass connection
Connecting Node JS and Mongo DB
Working with API End Points
Working with State Management
Working with Redux stores , reducers,actions
Working with Redux Thunk
Add to cart functionality
Updating and deleting items from cart
Checkout Functionality
Stripe payment gateway integration
Connecting stripe to react and node
Working with react-stripe-checkout module
Placing orders
Store orders in database
User Authentication
Working on User profile
Filtering Products by price , category
Products search functionality
Adding reviews to the products
Displaying reviews for the products
Admin panel implementation
Mange users , orders , products with admin panel
Deployment to HEROKU


************************************************************************************************************